* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 20px;
  width: 98%;
  height:100px;
  padding: 10px 10px 10px 10px;
  border: 1px solid black;
  background-color: #c0c0c0;
  margin :1%;
  position: relative;
  float: left;
}


h1 {
  font-size: 36px;
  text-align: center;
}

.title-1 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #2732a8;
  color: #ffffff;
  border: 1px solid black;
}

.title-2 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #cdff44;
  border: 1px solid black;
}

.title-3 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ca2d9b;
  color: #ffffff;
  border: 1px solid black;
}

@media (min-width: 992px){
   .col-lg{
    float: left;
    width: 31.333%;
   } 
}

@media (max-width: 991px)  and (min-width:  768px){
  .col-md-1{
    float: left;
    width: 48%;
  }
  .col-md-2{
    float: left;
    width: 98%;
    
}

@media (max-width: 767px) {
  .col-1{
    float: left;
    width: 98%;
  }
}